<div class="cart-item" data-item-index="{{index}}">
    <img src="{{image}}" alt="{{title}}" class="cart-item__image">
    <div class="cart-item__details">
        <div class="cart-item__title">{{title}}</div>
        <div class="cart-item__variant">Color: {{colorName}}</div>
        <div class="cart-item__variant">Size: {{sizeName}}</div>
        <div class="cart-item__price">{{price}}</div>
    </div>
    <div class="cart-item__controls">
        <div class="cart-item__quantity">
            <button class="quantity-btn" data-action="decrease" data-index="{{index}}">-</button>
            <input type="number" class="quantity-input" value="{{quantity}}" min="0" max="{{maxQuantity}}" data-index="{{index}}">
            <button class="quantity-btn" data-action="increase" data-index="{{index}}" {{disabled}}>+</button>
        </div>
        {{stockInfo}}
        <button class="cart-item__remove" data-action="remove" data-index="{{index}}">Remove</button>
    </div>
</div>
